{
  "swagger": "2.0",
  "info": {
    "description": "API documentation for finding the name of the cities around the world.",
    "version": "1.0.0",
    "title": "City Search API document",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "akashjadhav20111995@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "ec2-3-15-73-89.us-east-2.compute.amazonaws.com",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "suggestions",
      "description": "Get the list of suggested cities",
      "externalDocs": {
        "description": "Find out more about our project on Github",
        "url": "http://github.com/AkashJadhav-github"
      }
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/suggestions": {
      "get": {
        "summary": "Get the list of cities",
        "description": "Get the list of cities around the world by using the search param",
        "operationId": "getCity",
        "tags": [
          "suggestions"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Parameter to search for cities",
            "type": "string",
            "required": true
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Parameter to search city using Latitude and Longitude. In order to search cities using latitude and longitude both the parameters need to be input.",
            "type": "string",
            "required": false
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Parameter to search city using Latitude and Longitude. In order to search cities using latitude and longitude both the parameters need to be input.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "suggestions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "latitude": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      },
                      "userscore": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://api.example.com/docs/user-operations/",
          "description": "Learn more about search operations provided by this API."
        }
      }
    }
  },
  "definitions": {
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}